<section class="pt-0 pb-5" id="our_maintainers">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ include.heading }}</h2>
        <span class="text-muted">{{ include.description | markdownify }}</span>
        <div class="row d-flex justify-content-center pt-3 mx-auto">
          <nav aria-label="Page navigation example">
            <ul class="pagination-project">
              <input aria-label="" type="text" class="form-control rounded-left gnome-projects-filter"
                     placeholder="Search for a Project/GNOMie..."/>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>